<h1><%= @project.name %></h1>

<p>Material: <%= @project.material %>
  Challenge Theme: <%= @project.challenge.theme %>
  Number of Contestants: <%= @project.contestants.count %>
  Average Contestant Experience: <%= @project.average_experience %> years</p>
