<h1> Projects </h1>
<%= link_to 'Add Contestant To Project', "/projects/#{@project.id}/contestants/new" %>

 <p>Name: <%= @project.name %></p>
 <p>Material: <%= @project.material %></p>
 <p>Challenge Theme: <%= @project.challenge.theme %></p>
 <p>Number Of Contestants: <%= @project.total_contestants %></p>
 <p>Average Contestant Experience(in years): <%= @project.contestants.avg_years_experience %></p>
