<h1><%= @project.name %></h1>

<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestants.count %></p>
<p>Average Contestant Experience: <%= Contestant.avg_experience %></p>


<h3>Add New Contestant to the <%= @project.name %> Challenge</h3>
<%= form_tag "/projects/#{@project.id}" do %>
  <p><%= label_tag :contestant_id %>
  <%= text_field_tag :contestant_id %></p>
  <p><%= submit_tag "Add Contestant to Project" %></p>
<% end %>
