  <h3> Name: <%= @project.name %> </h3>
  <p> Material: <%= @project.material %> </p>
  <p> Challenge Theme: <%= @project.challenge.theme %> </p>
  <p> Number of Contestants: <%=  @project.contestants.count %> </p>
  <p> Average Contestant Experience: <%=  (@project.contestants.sum {|contestant| contestant.years_of_experience} / @project.contestants.count) %> </p>
