
<%= @project.challenge.theme %>

<%= @project.name %>
<%= @project.material %>

<p>No of contestants: <%= @project.contestants.count %></p>
<p>Average age of contestants: <%= @project.contestants.averge_age %> years</p>
