<h2><%= @project.name %></h2>

<p>Theme: <%= @project.challenge.theme %></p>
<p>Material: <%= @project.material %></p>
<p>Number of Contestants: <%= @project.contestant_count %></p>
<p>Average Contestant Experience: <%= @project.average_years_of_experience %> years</p>

<section>
  <h3>Add new Contestant</h3>

  <%= form_tag "/projects/#{@project.id}" do %>
    <%= label_tag :id %>
    <%= text_field_tag :id %>
    <%= submit_tag "Add" %>
  <% end %>
</section>
