<h2><%= @project.name %></h2>

<p>Theme: <%= @project.challenge.theme %></p>
<p>Material: <%= @project.material %></p>
<p>Number of Contestants: <%= @project.contestant_count %>
<p>Average Contestant Experience: <%= @project.average_years_of_experience %> years %>
