<h1> <%= @project.name %> </h1>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestants.count %></p>
<p>Average Contestant Experience: <%= @project.contestant_experience %></p>

<h3>Form to add a contestant to <%= @project.name %> </h3>
<%= form_tag "/projects/#{@project.id}/contestants" do %>
  <%= label_tag :contestant_id %>
  <%= number_field_tag :contestant_id %><br>
  <%= submit_tag "Add Contestant To Project" %>
<% end %>
