<h1> <%= @project.name %> </h1>

<%= @project.name %>
<%= @project.material %>
<%= @project.challenge.theme %>
<p>
  Number of contestants: <%= @project.contestants.count %>
</p>
<p>
  Average Contestant Experience: <%= @project.contestants.average_years %> years
</p>
