  <h3> Project: <%= @project.name %> </h3>
  <p> Material: <%= @project.material %> </p>
  <p> Challenge Theme: <%= @project.challenge.theme %> </p>
  <p> Number of Contestants: <%=  @project.contestants.count %> </p>
  <p> Average Contestant Experience: <%= @project.contestants.average(:years_of_experience) %> years </p><br>

<section>
  <h2> Add a new contestant to this project: </h2>
  <%= form_tag "/projects/#{@project.id}", class: 'edit-form' do %>
  <%= text_field_tag :ontestant_id, nil, placeholder: 'Contestant ID' %><br><br>
  <%= submit_tag 'Add Contestant', class: 'submit' %>
<% end %>
</section>
