<h1><%= @project.name %></h1>
<p><%= "Material: #{@project.material}" %></p>
<p><%= "Challenge Theme: #{@challenge.theme}" %></p>
<p><%= "Number of Contestants: #{@num_contestants}" %></p>
<p><%= "Average Contestant Experience: #{@average_years} years" %></p>

<h3>Add Additional Contestant to this Project</h3>
<%= form_tag("/projects/#{@project.id}", method: :patch) do %>
  <%= label_tag :contestant_id %><br/>
  <%= text_field_tag :contestant_id %><br/>
  <br>
  <%= submit_tag "Add Contestant To Project" %>
<% end %>
