<div class="project_show_page">
  <body>
    <h1>Project: <%= @project.name %></h1>
      <p>Material: <%= @project.material %></p>
      <p>Challenge Theme: <%= @project.challenge.theme %></p>
      <p>Total Number of Contestants Participating: <%= @project.contestants.count %></p>
      <p>Average Contestant Experience: <%= @project.contestants.average_xp %> years</p>
  </body>
</div>
