<section class="project-details">
<h1>Project Name: <%= @project.name %></h1>
<p>Project Material: <%= @project.material %></p>
</section>

<section class="challenge-details">
<p>Challenge Theme: <%= @challenge.theme %></p>
</section>

<section class="contestant-details">
<p>Number of Contestants: <%= @project.contestants.count %></p>
<p>Average Contestant Experience: <%= @project.contestants.average_years_of_experience %> years</p>
</section>

<section class="form">
  <%= form_tag "/contestants", method: :post do %>
    <%= label_tag :id %>
    <%= text_field_tag :id %>
    <%= submit_tag "Add Contestant To Project" %>
  <% end %>
</section>
